/*#F1F1F1*/
html{
  margin-top: 0 !important;
}
body{background-color:white;}

body{
  margin: 0;
  padding: 0;
  margin-top:-2em;
}

h1,h2,h3,h4,h5,h6{
  font-family: PT Sans;
}
p{
  font-family: Quattrocento;
  color: #292C33;
  font-size: 18px;
  line-height: 32px;
}
#hello{
  color:white;
  font-family: PT Sans;
  font-size:6em;
  display: none;
  margin: 0;
  font-style: italic;
  margin-bottom: 48px;
  margin-top: 80px;
}
#welcome{
  display: none;
  letter-spacing: 5px;
}
/*div:nth-child(2){
  position: relative;
}*/
a, a:visited {
  color: #292C33;
  text-decoration: none;
}
a{
  -webkit-transition: color 0.20s ease-in-out;
  -moz-transition: color 0.20s ease-in-out;
  -ms-transition: color 0.20s ease-in-out;
  -o-transition: color 0.20s ease-in-out;
}
a:hover{
  color:#999;
}

/* nav */
  nav{
    font-family: PT Sans;
    /*width: 100%;*/
    padding: 2px;
    /*background-color: #FFEB3B;*/
    /*background-color: #FF715E;*/
    /*display: none;*/
    /*position: fixed;*/
    /*z-index: 10;*/
    padding: 8px;
    /*margin-top: 2em;*/
    /*width: 30%;*/
    margin: 0 auto;

 
    display: inline-block;
  }
  nav ul{
    display: inline;
    float: left;
    padding: 0;
    margin: 0;
  }
  nav ul li, nav ul li a{
    display: inline;
    /*padding: 1em;*/
      padding: 5px 14px;
    font-family: 'Quattrocento';
    color: #2E2E2E;
  }
  .menu ul{
    margin-top:1em;
    margin: 0 auto;
  }
  .logo{
    font-family: 'Maven Pro';
    font-weight: 700;
    font-size:18px;
  }

/* Top Header */
  .full-screen-back{
    background-color: #FFEB3B;
    background-color: #FF715E;
    height: 100vh;
    width: 100%;
    margin-top: -2em;
    /*position: absolute;*/
  }
  .full-screen-back > div{
      text-align: center;
    position: absolute;
    top: 10%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    left: 0;
    right: 0;
    /*margin-top: -200px;*/
  }

/* Sections */
  section{
    padding:2em;
    text-align: center;
  }

/* About */
  h1{
    font-family: Maven Pro;
    font-size:2em;
  }
  h2{
    font-family: Maven Pro;
    font-style: italic;
    font-size:2em;
  }
  .profilePicture{
    width:4em;
  }
  .harvest{
    color: #FF6633 !important;
    font-weight: bolder;
    text-decoration: none;
  }
  .medium{
    color: #57AD68 !important;
    font-weight: bolder;
    text-decoration: none;
  }
  .twitter{
    color: #41AAF1 !important;
  }
  .github{
    color: #3B3B3B !important;
  }
  .linkedIn{
    color: #0084BF !important;
  }
  #Medium-logo-dark500{
    fill: red;

  }
  .about-preview{
    width: 100%;
    margin: 0 auto;
    padding: 5em 0 5em;
  }
  .about-preview h1, .about-preview p{
    margin: 0;
  }
  .about-preview p{
    font-size: 17px;
  }

  .readMore{
    text-decoration: underline;
    font-style: italic;
    color:#292C33;
  }
  .about-preview ul{
    padding: 0;
    margin:0;
    margin-top:1em;
  }
  .about-preview hr{
    width:80%;
    margin: 0 auto;
    color: #292C33;
    margin-top:3em;
  }
  .about-preview ul li{
    display: inline;
    list-style-type: none;
    font-family: Quattrocento;
    /*padding:1em;*/
    font-size: 1em;
    text-decoration: none;
    letter-spacing: 3px;
  }
  .about-preview ul li a{

  }


/* Preview */
  /*.previewContent{
    width: 100%;
    margin: 0 auto;
    //overflow: hidden;
    height:18em;
  }
  .previewContent h3{
      font-size: 1.4em;
      letter-spacing: 3px;
  }*/
  /* Left preview */
    /*.left-preview{
      float:left;
      padding:1em;
      width:33%;
    }
    .left-preview > div, .middle-preview > div, .right-preview > div{
      background-color: blue;
      height:100%;
      overflow: hidden;
      height: 12em;
      width: 80%;
      margin: 0 auto;
    }
    .harvestScreen{
      width: 29em;
      height: 18em;
      margin-left: -4em;
    }*/
  
  /* Middle preview */
    /*.middle-preview{
      float:left;
      padding:1em;
      width:33%;
    }
    .oldSiteScreen{
      height: 100%;
      width: 24em;
      margin-left: -2em;
    }*/
  
  /* Right preview */
    /*.right-preview{
      float:right;
      padding:1em;
      width:33%;
    }
    .recommenuScreen{
      width: 100%;
    }*/

    #preview-posts{
      overflow: auto;
      width: 80%;
      margin:0 auto;
    }
    #preview-posts article{
      /*width: 32%;*/
      /*float:left;*/
      padding: 2em;
      width: 70%;
      margin:0 auto;
    }
    #preview-posts .entry-title, 
    #preview-posts .entry-title a{
      font-size:24px;
      margin: 0;
      text-decoration: none;
    }
    #preview-posts .entry-content{
      margin: 0;
    }
    #preview-posts p{
      font-size: 14px;
      line-height: 25px;
    }
    .entry-content a{
      color:#FF715E;
      text-decoration: underline;
    }

  /* */
  #content{
    /*margin-top:2em;*/
  }
  #primary{
    /*margin-top: 4em;*/
  }
  /*.site-content{
    width:85%;
    margin:0 auto;
  }*/
  #main{
    width: 86%;
    margin: 0 auto;
  }

  /* Post */
    img {
      height: auto;
      max-width: 100%;
      width: 100%;
    }
    .entry-title{
      font-family: 'Maven Pro';
      font-weight: 600;
      font-size: 2.3em;
      color: #292C33;
      text-decoration: none;
    }
    .entry-title a{
      font-family: 'Maven Pro';
      font-weight: 600;
      font-size: 1em;
      color: #292C33;
      text-decoration: none;
    }
    .entry-content{
      margin-top: -2.3em;
    }
    .hentry {
      margin: 0 0 4.5em;
    }

    /* Previous and Next Box */
    .previousPostBox{
      padding: 1em;
      /*background-color: #292C33;*/
      text-align: center;
      /*color: white;*/
      width: 100%;
      float: left;
    } 
    .nextPostBox{
      padding: 1em;
      /*background-color: #FF715E;*/
      color:#292C33;
      text-align: center;
      margin-bottom: 1em;
    }
    .previousPostBox a,
    .nextPostBox a{
      font-family: Maven Pro;
      text-decoration: underline;

    }
    .previousPostBox a:hover,
    .nextPostBox a:hover{
      color: #FF715E;
    } 
    .media-caption{
      font-size: 12px;
      font-style: italic;
      padding: 0;
      margin: 0;
    }

/* Footer */
  footer{
    padding:1em;
    background-color: #3B3B3B;
    color: white;
    text-align: center;
      /*text-align: left;*/
  }
  footer a{
    color: #9b9b9b !important;
  }
  .site-info{
    font-size: 12px;
  }
  .frontPage{
    text-align: center;
  }

  .entry-footer{
    /*background-color: #e1e1e1;*/
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-family: garamond;
    font-size: 13px;
    border-top:1px solid #9b9b9b; 
  }
  .entry-footer span{
    padding-right: 1em;
    margin-top:1em;
  }
  .entry-footer span a{
    font-family: Quattrocento;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: 3px;
    color: #9b9b9b;
  }

/* secondary nav */
#secondary{
  overflow: auto;
  /*background-color: #e1e1e1;*/
  background-color: #737373;
  margin-top: 5em;
  padding: 1em;
}
#secondary h1{
  font-size: 1em;
}
#secondary aside{
  display: inline;
  float: left;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
  padding-left:1em;
}
.socialMediaIcon{
  width: 48px;
  padding: 13px;
}
#secondary ul{
  margin-right: 0;
  padding-right: 0;
  margin-left: 25px;
  margin-bottom: 0;
}
#secondary ul li a{
  font-size: 14px;
}
#blog_subscription-2{
  width: 100%;
}


blockquote {
  margin: 1em 1em;
  border-left:2px solid #21FFBC;
}
blockquote p{
  font-style: italic;
  font-size: 22px;
  margin-left: 1em;
}

ul, li{
  font-family: Quattrocento;
}


/*@media (min-width: 681px){
  .about-preview ul li{
    display: inline;
  }
}

@media(min-width: 1260px){
  #hello{
    font-size: 10em;
    margin-top:150px;
  }
  .about-preview {
    width: 39%;
    margin: 0 auto;
  }
}
*/
@media (min-width: 550px){
  #secondary{
    padding-bottom: 3em;
  }
  #secondary aside{
    width: initial;
  }
}

@media (min-width: 900px){
  /*#main{
    width: 70%;
  }*/
  #blog_subscription-2{
    width: 37% !important;
  }
  /* Footer */
  #secondary aside{
    display: inline;
    float: left;
    padding: 2em 2em 0px 2em;
  }
  .socialMediaIcon{
    width: 48px;
    padding: 13px;
  }
  #secondary ul{
    margin-right: 0;
    padding-right: 0;
    margin-left: 25px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px){
  /*#main{
    width: 49%;
  }*/
  #main{
    width: 60%;
  }
  .ourContent{
    width: 85%;
    margin: 0 auto;
  }
}



